# Factorial

In [1]:
    def factorial(n):
        if n < 0:
            return "Factorial is not defined "
        elif n == 0 or n == 1:
            return 1
        else:
            return n * factorial(n - 1)

    n = 5  
    result = factorial(n)
    print(f"The factorial of {n} is: {result}")

The factorial of 5 is: 120

# Lambda Function

In [2]:
y = lambda x,z :(x-1)*z

In [3]:
y(2,3)

3

# list,tuple,set,dictionary

In [4]:
list1=[1,1,2,3,"Hello","hi","Bye"]
tuple1=(1,1,2,3,"Hello","hi","Bye")
set1={1,1,2,3,"Hello","hi","Bye"}
dict1={"a":1,"b":1,"c":2,"d":3,"e":"hello","f":"hi","g":"bye"}

In [5]:
list1[1]=4
print(list1)

[1, 4, 2, 3, 'Hello', 'hi', 'Bye']

In [6]:
print(tuple1)

(1, 1, 2, 3, 'Hello', 'hi', 'Bye')

In [7]:
print(set1)

{1, 2, 3, 'Bye', 'hi', 'Hello'}

In [8]:
dict1["g"]

'bye'

In [9]:
student_details_list=["sakthi","cse","19"]
student_details_dict={"name":"sakthi","branch":"cse","age":"19"}

In [10]:
student_details_dict["name"]

'sakthi'

# List and Slicing

In [11]:
student_details_list=["sakthi","cse","19","vaigai","50"]

In [12]:
student_details_list[1:3]

['cse', '19']

In [13]:
y = "Sakthi"

In [14]:
y[0:]

'Sakthi'

# Type Casting

In [ ]:
birth_year = int(input("Enter your birth year: "))
current_year = 2023  
age=current_year-birth_year
print(age)

# Advanced Calculate Age

In [ ]:
    from datetime import datetime
    def calculate_age(birth_date):
        current_date = datetime.now()

        age = current_date - birth_date
        years = age.days // 365
        remaining_days = age.days % 365
        months = remaining_days // 30
        days = remaining_days % 30

        return years, months, days
    year = int(input("Enter the year of birth (YYYY): "))
    month = int(input("Enter the month of birth (MM): "))
    day = int(input("Enter the day of birth (DD): "))

    birth_date = datetime(year, month, day)
    years, months, days = calculate_age(birth_date)

    print(f"You are {years} years, {months} months, and {days} days old.")

In [ ]:
def calculate_age():
    dob = input("Enter Your DOB")
    yob=dob[4:8]
    mob=dob[2:4]
    day_b = dob[0:3]
    yob = int(yob)
    mob  = int(mob)
    day_b = int(day_b)
    
    birth_days = 365*yob + 30*mob+ day_b
    current_days = 365*2023 + 30*10+28
    age_days = current_days - birth_days
    age_year = age_days//365
    remainder_days = age_days%365
    age_month = remainder_days%30
    age_days = remainder_days%30
    print(f"The age is {age_year} year,{age_month},month,{age_days}days")
calculate_age()

# Email Check

In [ ]:
def mail_check():
    mail = input("Enter Your Email:")
    if "@" and "." in mail:
        print("Valid Email")
    else:
        print("Invalid Email")
mail_check()

# String Formatting

In [ ]:
String1="{} {} {}".format('Python','Programming','Language')
print("Print String In default Order:")
print(String1)

# Exceptional Handling

In [3]:
def division(a,b):
    try:
        result =a/b
        print(result)
    except:
        print("Not Able To Divide")

In [4]:
division(10,0)

Not Able To Divide

In [1]:
def division(a,b):
    try:
        result = a/b
        print(result)
    except ZeroDivisiorError:
        print("Can't Divide With Zero")
    except:
        print("Not Able To Divide")
    else:
        print(result)

In [2]:
division(10,10)

1.0
1.0

# variable vs properties  vs functions vs method

In [9]:
# Create Variable For Student with name Sakthi

name  = "Sakthi"
roll_no = 50
branch = "Cse"
paid_amount = 1200000

# Create Some Function For The Student

def get_name_roll():
    print(f"The Name of The Student is{name} and his/her Roll no is {roll_no}")
    
def get_summary():
    print(f"The Student Name is {name} an roll no is{roll_no} \n he is from {branch} and his paid amount is {paid_amount}")

In [10]:
get_name_roll()

The Name of The Student isSakthi and his/her Roll no is 50

In [12]:
get_summary()

The Student Name is Sakthi an roll no is50
 he is from Cse and his paid amount is 1200000

In [21]:
# Create a Class  For Student 
class student:
    def __init__(self):
        self.name = "Sakthi"
        self.roll_no = 50
        self.branch = "cse"
        self.paid_amount  = 120000
    def get_name_roll():
        print(f"The Name of The Student is{name} and his/her Roll no is {roll_no}")
    
    def get_summary():
        print(f"The Student Name is {name} an roll no is{roll_no} \n he is from {branch} and his paid amount is {paid_amount}")

In [23]:
student1 = student

In [24]:
student1.get_summary()

The Student Name is Sakthi an roll no is50
 he is from Cse and his paid amount is 1200000

# Inheritance

In [39]:
class teacher:
    def __init__(self,name,id_no,DOB,mobile_no,dept):
        self.name = name
        self.id_no = id_no
        self.DOB = DOB
        self.mobile_no = mobile_no
        self.dept = dept
        
    def get_summary(self):
        print(f"The Name of the Person is {self.name} and id is{self.id_no}and the DOB is {self.DOB},mobile number is {self.mobile_no} and \ndepartment is {self.dept}.") 
    
class non_teacher:
    def __init__(self,name,id_no,DOB,mobile_no):
        self.name = name
        self.id_no = id_no
        self.DOB = DOB
        self.mobile_no = mobile_no
        
    def get_summary(self):
        print(f"The Name of the Person is {self.name} and id is{self.id_no}and the DOB is {self.DOB},mobile number is {self.mobile_no}.") 
 
    
class student:
    def __init__(self,name,id_no,DOB,mobile_no,dept,paid_amount,passing_year):
        self.name = name
        self.id_no = id_no
        self.DOB = DOB
        self.mobile_no = mobile_no
        self.dept = dept
        self.paid_amount = paid_amount
        self.passing_year = passing_year
        
    def get_summary(self):
        print(f"The Name of the Person is {self.name} and id is{self.id_no}and the DOB is {self.DOB},mobile number is {self.mobile_no} and \ndepartment is {self.dept},paid amount is{self.paid_amount} andthe passing year {self.passing_year}.")

In [41]:
class person:
     def __init__(self,name,id_no,DOB,mobile_no):
        self.name = name
        self.id_no = id_no
        self.DOB = DOB
        self.mobile_no = mobile_no
    def get_summary(self):
        print(f"The name of the Person is {self.name} and id is{self.id} \n and DoB is {self.DOB},mobile number is {self.mobile_no}")

class teacher(person):
    def __init__(self,name,dept,id_no,DOB,mobile_no):
        super().__init__(name,id_no,DOB,mobile_no,)
        self.dept = dept

class non_teacher(person):
    def __init__(self,name,id_no,DOB,mobile_no):
        super().__init__(name,id_no,DOB,mobile_no)
        
class student(teacher):
    def __init__(self,name,id_no,DOB,mobile_no,dept,paid_amount,passing_year):
        super().__init__(name,id_no,DOB,mobile_no,dept)
        self.paid_amount = paid_amount
        self.passing_year = passing_year

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [42]:
teacher1 = teacher("sakthi",50,27042004,8148043523,"cse")
student1 = student("Asif",30,7032004,8124773696,"cse",10000,2025)

In [44]:
teacher1.get_summary()

The Name of the Person is sakthi and id is50and the DOB is 27042004,mobile number is 8148043523 and
department is cse.